  * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

  body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 40px;
  }

  .accordion__btn {
    width: 100%;
    text-align:  center;
    padding: 15px;
    margin: 5px 0;
    border: none;
    background: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
  }

  .accordion__content {
    display: none;
    padding: 10px 15px; 
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 5px;
  }

  .accordion__content.show {
    display: block;
  }
